:root{
    --primary: rgb(9, 38, 29);
    --secondary: rgb(255, 99, 20);
}

body{
    font-family: "Ubuntu", serif;
}

.section1{
    background-color: var(--primary);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigation-bar{
    min-height:auto;
    width: 100vw;
    padding: 30px 0px;
    margin-inline: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.nav-list a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navigation-bar button{
    background-color: var(--primary);
    color: white;
    border-color: white ;
    border-radius: 40px;
    padding: 15px 30px;
    box-shadow: none;
    transition-duration: 300ms;
    transition-property: background-color, color;
}

.navigation-bar button:hover, .section1-content p button:hover{
    background-color: white;
    color: var(--primary);
}

.section1-content{
    display: flex;
    gap: 50px;
    margin-inline: 150px;
}

.section1-content p{
    line-height: 1;
    color: white;
    font-size: 6rem;
}

.section1-content p button{
    font-size: 1rem;
    background-color: var(--primary);
    color: white;
    border-color: white ;
    border-radius: 40px;
    padding: 15px 30px;
    box-shadow: none;
    transition-duration: 300ms;
    transition-property: background-color, color;
}

.section1-media img{
    object-fit: cover;
    width: 550px;
    float: right;
    shape-outside: url(imageFiles/home-hero.avif);
}
.testimonial{
    background-color: orangered;
    width: 100%;
    min-height: 500px;
    padding-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.testimonial-head h1{
    font-size: 70px;
}
.card-p p{
    font-size: 25px; 
}
.cards-row{
    padding-bottom: 5%;
}
.test-image img{
   width: 400PX;
   height: 500px;
}
.author-space{
    padding-top: 15%;
    display: flex;
}
.card-author p{
    font-size: 20px;
}
.empty-card{
    height: 50px;
}
.arrow-btns a:hover svg{
  fill: orangered;
  background-color: white;  
  border-radius: 30px;
}
.faq{
    padding: 7%;
    font-family: Arial, sans-serif;
}
.faq-head p{
    font-size: 50px;
    text-align: center;
}
.faq-section {
    
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .faq-question span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .toggle-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  
  .faq-answer {
    display: none;
    margin-top: 10px;
    color: #555;
    font-size: 16px;
  }
  