:root{
    --primary: rgb(9, 38, 29);
    --secondary: rgb(255, 99, 20);
}

body{
    font-family: "Ubuntu", serif;
}

.section1{
    background-color: var(--primary);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigation-bar{
    min-height:auto;
    width: 100vw;
    padding: 30px 0px;
    margin-inline: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.nav-list a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navigation-bar button{
    background-color: var(--primary);
    color: white;
    border-color: white ;
    border-radius: 40px;
    padding: 15px 30px;
    box-shadow: none;
    transition-duration: 300ms;
    transition-property: background-color, color;
}

.navigation-bar button:hover, .section1-content p button:hover{
    background-color: white;
    color: var(--primary);
}

.section1-content{
    display: flex;
    gap: 50px;
    margin-inline: 150px;
}

.section1-content p{
    line-height: 1;
    color: white;
    font-size: 6rem;
}

.section1-content p button{
    font-size: 1rem;
    background-color: var(--primary);
    color: white;
    border-color: white ;
    border-radius: 40px;
    padding: 15px 30px;
    box-shadow: none;
    transition-duration: 300ms;
    transition-property: background-color, color;
}

.section1-media img{
    object-fit: cover;
    width: 550px;
    float: right;
    shape-outside: url(imageFiles/home-hero.avif);
}

.blank-section{
    height: 20vh;
}

.aboutUs-section{
    min-height: 90vh;
    width: 100%;
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs-wrapper{
    display: flex;
    flex-direction: row;
    margin: 100px 50px;
    margin-top: 250px;
    gap: 50px;
}

@media screen and(max-width:1100px){
    .aboutUs-wrapper{
        flex-direction: column;
    }
}

.aboutUs-content{
    margin-inline: 50px;
    font-weight: lighter; 
}

.aboutUs-content h6{
    font-size: 1.5rem;
    font-weight: lighter;
}

.aboutUs-content h1{
    font-size: 5rem;
    font-weight: lighter;
}

.aboutUs-content p{
    font-size: 1.25rem;
    padding-top: 10px;
}

.about-bullets{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}



.bullets-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about-bullets h3{
    font-weight: 400;
}